body, html {
  margin: 0;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 140px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  padding: 0 1rem;
}

.header-left {}

.header-right {}

.sidebar {
  padding: 1rem;
}

.main {
  position: relative;
  padding: 1rem;
}